
<center><img src="" width=400 height=100/></center>

___

[<center>Course provided by GaÃ«tan Brison</center>](https://github.com/gaetanbrison)
___

# Facebook Prophet Challenge

# Libraries and Data

In [2]:
#import libraries

In [6]:
#load the data

       Date  Total Adults in Shelter  ...  Thanksgiving  Christmas
0  1/1/2014                    28770  ...             0          0
1  1/2/2014                    28843  ...             0          0
2  1/3/2014                    28947  ...             0          0
3  1/4/2014                    28954  ...             0          0
4  1/5/2014                    28991  ...             0          0

[5 rows x 15 columns]

# Data preparation

In [7]:
#transform the date variable

0      2014-01-01
1      2014-01-02
2      2014-01-03
3      2014-01-04
4      2014-01-05
          ...
2552   2020-12-27
2553   2020-12-28
2554   2020-12-29
2555   2020-12-30
2556   2020-12-31
Name: Date, Length: 2557, dtype: datetime64[ns]

In [8]:
#final dataset

        Date  Total Individuals in Shelter  Easter  Thanksgiving  Christmas
0 2014-01-01                         50689       0             0          0
1 2014-01-02                         50797       0             0          0
2 2014-01-03                         50954       0             0          0
3 2014-01-04                         50957       0             0          0
4 2014-01-05                         50957       0             0          0

In [9]:
#renaming variables

          ds      y  Easter  Thanksgiving  Christmas
0 2014-01-01  50689       0             0          0

# Holidays

In [12]:
#Easter

    holiday         ds  lower_window  upper_window
109  easter 2014-04-20            -5             2
459  easter 2015-04-05            -5             2

In [13]:
#Thanksgiving

          holiday         ds  lower_window  upper_window
330  thanksgiving 2014-11-27            -5             2
694  thanksgiving 2015-11-26            -5             2

In [15]:
#combining holidays

           holiday         ds  lower_window  upper_window
109         easter 2014-04-20            -5             2
459         easter 2015-04-05            -5             2
816         easter 2016-03-27            -5             2
1201        easter 2017-04-16            -5             2
1551        easter 2018-04-01            -5             2
1936        easter 2019-04-21            -5             2
2293        easter 2020-04-12            -5             2
330   thanksgiving 2014-11-27            -5             2
694   thanksgiving 2015-11-26            -5             2
1058  thanksgiving 2016-11-24            -5             2
1422  thanksgiving 2017-11-23            -5             2
1786  thanksgiving 2018-11-22            -5             2
2157  thanksgiving 2019-11-28            -5             2
2521  thanksgiving 2020-11-26            -5             2

# Prophet

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [17]:
#CV

INFO:fbprophet:Making 7 forecasts with cutoffs between 2020-07-30 00:00:00 and 2020-10-31 00:00:00
INFO:fbprophet:Applying in parallel with <concurrent.futures.process.ProcessPoolExecutor object at 0x7f00b7258610>

In [19]:
#assess model

1993.680043687866

# Hyperparameter tuning

In [21]:
#PArameters

In [ ]:
#Tuning

In [23]:
#gather best parameters

{'seasonality_prior_scale': 20, 'holidays_prior_scale': 10, 'changepoint_prior_scale': 0.1}

# Congrats you made it ðŸŽ‰